@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
body {
    margin-top: 80px;
    background: rgb(27, 27, 27);
}

.print-display {
    border: 1px solid rgba(0, 0, 0, 0.027);
    width: 340px;
    height: 80px;
    font-size: 35px;
    padding-top: 20px;
    font-family: 'Major Mono Display';
    color: rgb(189, 164, 95);
    background: rgba(148, 148, 148, 0.137);
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn {
    width: 80px;
    height: 80px;
    margin: 2px;
    border-radius: 80px;
    animation: fade 2s;
    font-family: 'Major Mono Display';
    font-size: 20px;
    border: 2px solid rgb(5, 115, 158);
    outline: 0;
}

.cb {
    width: 80px;
    height: 80px;
    margin: 2px;
    border-radius: 80px;
    animation: fade 2s;
    font-family: 'Major Mono Display';
    font-size: 15px;
    background: rgb(5, 115, 158);
    color: white;
    outline: 0;
}

.blank {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 0;
    background: transparent;
    outline: 0;
}


    @keyframes fade {
        0% {
            opacity: 0;
            transform: rotate(10deg);
        }
        20% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }